<div class ="form-alert alert alert-danger" style="display: none">
  <ul class="errors"></ul>
</div>

<form class="event-form">
  <% if (group_id) { %>
    <input type="hidden" name="event[group_id]" value="<%= group_id %>">
  <% } %>

  <div class="form-group">
    <input
      type="text"
      class="form-control form-event-title"
      name="event[title]"
      placeholder="Title">
  </div>

  <div class="form-group">
    <input
      type="date"
      class="form-control form-event-date"
      name="event[date]">
  </div>

  <div class="form-group">
    <input
      type="time"
      class="form-control form-event-time"
      name="event[time]">
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control form-event-location"
      name="event[location]"
      placeholder="Location">
  </div>

  <div class="form-group">
    <textarea name="event[description]"
      class="form-control form-event-description"
      rows="8" cols="40"
      placeholder="Description"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit!</button>
  <button class="btn btn-danger back">Cancel</button>
</form>
