<ul class="errors"></ul>

<form class="event-form">
  <div>
    <input
      type="text"
      class="event-title"
      name="event[title]"
      placeholder="Title">
  </div>

  <div>
    <textarea name="event[description]"
      class="event-description"
      rows="8" cols="40"
      placeholder="Description"></textarea>
  </div>

  <input type="submit" value="Submit!">
</form>
