<div class="event-item col-md-8">
  <div class="event-date">
    <%= event.date %>
  </div>
  <div class="event-time">
    <%= event.time %>
  </div>
  <div class="event-title">
    <%= event.escape("title") %>
  </div>
</div>
