<% if (showDate) { %>
  <div class="event-date">
    <%= event.date %>
  </div>
<% } %>

<div class="event-item">
  <div class="event-time col-md-2">
    <%= event.time %>
  </div>
  <div class="event-item-info col-md-8">
    <div class="event-group-title">
      <%= event.escape("group_title") %>
    </div>
    <div class="event-title">
      <%= event.escape("title") %>
    </div>
  </div>
</div>
