<button class="created-events">Created Events</button>
<button class="reserved-events" disabled>Reserved Events</button>
<button class="group-events">Group Events</button>
<button class="suggested-events">Suggested Events</button>

<hr>

<div class ="events-list"></div>
