<br>
<br>

<div class="btn-group">
  <button class="created-events btn btn-info">Created Events</button>
  <button class="reserved-events btn btn-info" disabled>Reserved Events</button>
  <button class="group-events btn btn-info">Group Events</button>
  <button class="suggested-events btn btn-info">Suggested Events</button>
</div>

<hr>

<div class ="events-list"></div>
