<div id="events-list" class ="events-list col-md-8"></div>

<div class="col-md-4 events-index-navigation">
  <div class="btn-group-vertical event-btn-group">
    <button class="created-events btn btn-info events-index-btn">Created Games</button>
    <button class="reserved-events btn btn-info events-index-btn" disabled>Reserved Games</button>
    <button class="group-events btn btn-info events-index-btn">Group Games</button>
    <button class="suggested-events btn btn-info events-index-btn">Suggested Games</button>
  </div>

  <div id="calendar"></div>
</div>
