<label>My Events:
  <div class="created-events"></div>
</label>

<hr>

<label>Reserved Events:
  <div class="reserved-events"></div>
</label>

<hr>

<label>My Joined Group Events:
  <div class="joined-group-events"></div>
</label>

<hr>

<label>Other Events:
  <div class="other-events"></div>
</label>

<hr>
