<h3>Interests:</h3>

<div>
  <% interests.each(function (interest) { %>
    <button data-id="<%= interest.id %>" class="interest btn btn-default"><%= interest.escape("topic") %></button>
  <% }) %>
</div>

<button class="submit btn btn-primary">Submit!</button>
