<h3>Interests:</h3>

<div>
  <% interests.each(function (interest) { %>
    <% var topic = interest.escape("topic") %>
    <button id="<%= topic %>" class="interest btn btn-default"><%= topic %></button>
  <% }) %>
</div>

<button class="submit btn btn-primary">Submit!</button>
