<div class="enter-background">
  <div class="new-user col-md-4 col-md-offset-4 enter-form">
    <h3 class="enter-header">Sign up</h3>

    <% if flash[:errors] %>
      <div class ="form-alert alert alert-danger">
        <ul>
          <% flash[:errors].each do |err| %>
            <li><%= err %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <form action="/users" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <div class="form-group">
        <input
          type="text"
          name="user[username]"
          class="form-control"
          placeholder="Enter username"
          value="<%= @user.username %>">
      </div>

      <div class="form-group">
        <input
          type="password"
          name="user[password]"
          class="form-control"
          placeholder="Enter password">
      </div>

      <button type="submit" class="btn btn-danger btn-enter">Sign in</button>
    </form>

    <hr>

    <h5 class="enter-subheader">Already have an account?</h5>
    <form action="<%= new_session_url %>" method="get">
      <button type="submit" class="btn btn-primary btn-enter">Log in</button>
    </form>
  </div>
</div>
