<h3>Groups:</h3>

<ul>
  <% @groups.each do |group| %>
    <li>
      <a href="/api/groups/<%= group.id %>"><%= group.title %></a>
    </li>
  <% end %>
</ul>

<div>
  <%= button_to "Create Group", new_api_group_url, method: :get %>
</div>
