<div class="group-event" data-event-id="<%= this.model.id %>">
  <div class="group-event-datetime">
    <%= event.date + " - " + event.time %>
  </div>
  <div class="group-event-title">
    <%= event.escape("title") %>
  </div>
</div>
