<div class ="form-alert alert alert-danger" style="display: none">
  <ul class="errors"></ul>
</div>

<form class=" group-form">
  <div class="form-group">
    <input
      type="text"
      class="form-control form-group-title"
      name="group[title]"
      placeholder="Title">
  </div>

  <div class="form-group">
    <textarea name="group[description]"
      class="form-control form-group-description"
      rows="8"
      placeholder="Description"></textarea>
  </div>

  <div>
    <label>Upload Your Avatar:
      <button class="btn btn-primary file-upload">Add File</button>
    </label>
  </div>

  <div class="new-group-interests">
    <button class="btn btn-primary show-interests">Add Interests to Group</button>
  </div>

  <button class="btn btn-primary submit-group-form">Submit!</button>
  <button class="btn btn-danger back">Cancel</button>
</form>
