<ul class="errors"></ul>

<form class="group-form">
  <div>
    <input
      type="text"
      class="group-title"
      name="group[title]"
      placeholder="Title">
  </div>

  <div>
    <textarea name="group[description]"
      class="group-description"
      rows="8" cols="40"
      placeholder="Description"></textarea>
  </div>

  <input type="submit" value="Submit!">
</form>
