<div class ="form-alert alert alert-danger" style="display: none">
  <ul class="errors"></ul>
</div>

<form class=" group-form">
  <div class="form-group">
    <input
      type="text"
      class="form-control form-group-title"
      name="group[title]"
      placeholder="Title">
  </div>

  <div class="form-group">
    <textarea name="group[description]"
      class="form-control form-group-description"
      rows="8"
      placeholder="Description"></textarea>
  </div>

  <div>
    <h4>Provide a picture for your group (optional):<h4>
    <div id="upload-success" class="alert alert-success" style="display: none">Image uploaded successfully!</div>
    <button class="btn btn-primary file-upload">Add File</button>
    <img class="group-preview-image" src="https://lh6.ggpht.com/elDmZkAQWGLEu_0WmBUVfPIwSNn2DzDsJTx5MNuBidSYmXa7m7C5_eQHGfeLQTp8Zr4=w170">
  </div>

  <p>
  <div class="new-group-interests" style="visibility:hidden">
    <button class="btn btn-primary show-interests">Add Interests to Group</button>
  </div>
  </p>

  <button class="btn btn-primary submit-group-form">Submit!</button>
  <button class="btn btn-danger back">Cancel</button>
</form>
