<div class="group-item">
  <% if (group.escape("filepicker_url")) {%>
    <img class="group-image" src="<%= group.escape("filepicker_url") %>">
  <% } else { %>
    <img class="group-image" src="http://therunnersports.com/wp-content/uploads/2014/08/packers.jpg">
  <% } %>

  <div class="group-item-text">
    <%= group.escape("title") %>
  </div>
</div>
