<br>
<br>

<div class="btn-group">
  <button class="created-groups btn btn-info">Created Groups</button>
  <button class="joined-groups btn btn-info" disabled>Joined Groups</button>
  <button class="other-groups btn btn-info">Suggested Groups</button>
</div>

<hr>

<div class ="groups-list"></div>
