<!-- <label>My Groups:
  <div class="created-groups"></div>
</label>

<label>Joined Groups:
  <div class="joined-groups"></div>
</label>

<hr>

<label>Other Groups:
  <div class="other-groups"></div>
</label>

<hr> -->

<br>
<br>

<button class="created-groups">Created Groups</button>
<button class="joined-groups" disabled>Joined Groups</button>
<button class="other-groups">Suggested Groups</button>

<hr>

<div class ="groups-list"></div>
