<h3>New Group:</h3>

<form class="new-group-form">
  <div>
    <input
      type="text"
      name="group[title]"
      placeholder="Title">
  </div>

  <div>
    <textarea name="group[description]"
      rows="8" cols="40"
      placeholder="Description"></textarea>
  </div>

  <input type="submit" value="Create!">
</form>

<button class="back-to-index">Back</button>
