<h3><%= group.escape('title') %></h3>
<div>
  Organized By: <%= group.escape('organizer_id') %>
</div>
<hr>
<div>
  <%= group.escape('description') %>
</div>
<button class="return-to-landing">Back</button>
