<h3><%= group.escape('title') %></h3>
<% if (group.organizer){ %>
  <div>
    Organized By: <%= group.organizer.username %>
  </div>
<% } %>
<hr>
<div>
  <%= group.escape('description') %>
</div>

<button class="edit-group">Edit</button>
<button class="delete-group">Delete</button>
<button class="return-to-landing">Back</button>
