<% if (group.escape("filepicker_url")) {%>
  <img class="group-show-image" src="<%= group.escape("filepicker_url") %>">
<% } else { %>
  <img class="group-show-image" src="http://www.parnavsports.com/images/sports.jpg">
<% } %>

<hr>

<% if (group.organizer){ %>
  <div class="group-organizer">
    Organizer:
    <br>
    <img class="organizer-image" src="<%= group.organizer.image_url %>">
    <%= group.organizer.username %>
  </div>
<% } %>

<% if (group.interests && group.interests.length > 0){ %>
  <hr>

  <div class="group-interests">
    For those interested in:
    <br>
    <%= group.interests.join(", ") %>
  </div>
<% } %>
