<div id="content">
  <div id="site-navbar"></div>

  <div id="landing-banner">
    <img class="banner-image" src="https://secure2.convio.net/gwu/images/donation_forms/bbf/athletes-banner.png">
  </div>

  <div id="sub-content" class="col-md-8 col-md-offset-2">
</div>
