<div id="content">
  <div id="site-navbar"></div>

  <div id="sub-content">
</div>

<div id="footer">
  <div class="created-by">Created by Tripp Davis</div>
  <div class="linked-in"><a class="footer-a" href="http://linkedin.com/in/kbdavis3/">Linked In</a></div>
  <div class="github-repo"><a class="footer-a" href="https://github.com/trippdavis/PickUp">Project Repo</a></div>
</div>
