<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid col-md-8 col-md-offset-2">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Find</a></li>
        <li><a href="#/groups/new">Start</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/interests/user">Edit Interests</a></li>
        <li><%= link_to "Log out", session_url, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>

<div id="content">
  <div id="landing-banner">
    <img class="banner-image" src="https://secure2.convio.net/gwu/images/donation_forms/bbf/athletes-banner.png">
  </div>

  <div id="sub-content" class="col-md-8 col-md-offset-2">
</div>
