.event-item {
  border: 1px solid black;
  border-radius: 2px;
  margin: 2px;
  background: white;
  text-align: left;
  padding: 5px;
  margin: 1px;
}

.event-item:after {
  content: "";
  display: block;
  clear: both;
}

.event-date {
  text-align: left;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #aaa;
  text-shadow: #fff 1px 1px 0;
}

.event-time {
  font-size: 15px;
}

.event-title {
  font-size: 25px;
}

.event-item:hover {
  cursor: pointer;
}

.event-show {
  background: white;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}

.event-form-box {
  background: white;
  border: 2px solid red;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.events-index-navigation {
  padding-top: 43px;
}

.event-btn-group {
  width: 100%;
}

#events-list {
  min-height: 300px;
}
