.event-item {
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  background: khaki;
}

.event-item:hover {
  cursor: pointer;
}

.event-show {
  background: white;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}
