// Place all the styles related to the Interests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.interests-modal {
  position: absolute;
  height: 110vh;
  top: -52px;
  width: 100vw;
  left: calc(-50vw + 50%);
  background: rgba(0, 0, 0, 0.4);
}

.interests {
  background: white;
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  border: 5px solid black;
  border-radius: 5px;
  padding-bottom: 20px;
}

.interest-dropdown-item {
  width: 100%;
  background: white;
  border: none;
}

.interest-dropdown-item:hover {
  background: red;
}

.all-interests {
  width: 100%;
  background: white;
  border: none;
}

.all-interests:hover {
  background: red;
}
