// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  text-align: center;
}

.jumbotron-landing {
  background-image: url(http://i61.tinypic.com/2rptf9f.png);
  height: 500px;
}

.invisible-jumbotron {
  display: none;
}
