// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  text-align: center;
}

#landing-banner {
  background: black;
  width: 100vw;
}

.invisible-banner {
  display: none;
}

.banner-image {
  margin: 30px;
}

.landing-navbar {
  background: #5bc0de;
  border: 1px solid #46b8da;
  top: -25px;
  border-radius: 5px;
}

.interest-dropdown {
  float: left;
  margin: 8px;
}

.group-event-buttons {
  float: right;
  margin: 8px;
}
