<button class="btn dropdown-toggle" data-toggle="dropdown">Interests <span class="caret"></span></button>
<ul class="dropdown-menu">
  <li><button class="all-interests">All</button></li>
  <% interests.each(function (interest) { %>
    <li>
      <button data-interest-id="<%= interest.id %>" class="interest-dropdown-item">
        <%= interest.escape("topic") %>
      </button>
    </li>
  <% }) %>
</ul>
