<button class="btn dropdown-toggle landing-dropdown" data-toggle="dropdown">All Interests <span class="caret"></span></button>
<ul class="dropdown-menu">
  <li><button class="interest-dropdown-item selected-dropdown" data-interest-id="0">All Interests</button></li>
  <% interests.each(function (interest) { %>
    <li>
      <button data-interest-id="<%= interest.id %>" class="interest-dropdown-item">
        <%= interest.escape("topic") %>
      </button>
    </li>
  <% }) %>
</ul>
