<div id="landing-banner">
  <img class="banner-image" src="/assets/athletes-banner.png">
</div>

<div class="landing-navbar col-md-6 col-md-offset-3">
  <div class="interest-dropdown">
  </div>

  <div class="btn-group group-event-buttons">
    <button class="btn btn-black btn-landing groups">Groups</button>
    <button class="btn btn-black btn-landing events">Games</button>
  </div>
</div>

<br>

<div class="indexes-area col-md-8 col-md-offset-2"></div>
