<div class="landing-navbar col-md-8 col-md-offset-2">
  <ul class="interest-dropdown">
  </ul>

  <div class="btn-group group-event-buttons">
    <button class="btn groups" disabled>Groups</button>
    <button class="btn events">Events</button>
  </div>
</div>

<br>

<div class="indexes-area"></div>
