<nav class="navbar col-md-8 col-md-offset-2 landing-navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse landing-navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav interest-dropdown">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><button class="btn groups" disabled>Groups</button></li>
        <li><button class="btn events">Events</button></li>
      </ul>
    </div>
  </div>
</nav>

<br>

<div class="indexes-area"></div>
