<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="navbar-brand-image" src="/assets/PickUp-logo.png"/>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Find a PickUp Group</a></li>
        <li><a href="#/groups/new">Start a PickUp Group</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="edit-interests"><a href="">Edit Your Interests</a></li>
        <li class="log-out"><a href="">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
